span{
    content: "a";
    display: blockd;
    opacity: 1;
    width: 40px;
    height: 5px;
    background-color: black;
}

html{
    overflow-x: hidden;
}

footer a{
    text-decoration: none;
}

body{
    padding-top: 100px;
    overflow-x: hidden;
    margin: 0;
}

h1{
    font-family: 'Arapey', sans-serif;
    font-size: 36px;
}

h2{
    font-family: 'Arapey', sans-serif;
    font-size: 24px;
}

h3{
    font-family: 'Arapey', sans-serif;
    font-size: 20px;
    margin: 15px;
}

p{
    font-family: 'Arapey', sans-serif;
    font-size: 15px;
    margin: 20px;
}

li{
    font-family: 'Arapey', sans-serif;
    font-size: 15px;
    margin: 20px;
}

.Artiste h3{
    text-align: center;
  }

hr{
    border-top: solid #000000;
    margin: auto;
    border-width: 2px 0 0 0;
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

figcaption{
    font-family: 'Arapey', sans-serif;
    font-size: 15px;
    margin: 20px;
}

.Artiste .black-button{
    left: 50%; /* center horizontally */
    transform: translateX(70%); /* move the button 50% to the left */
}

.Oeuvre h1{
    text-align: center;
    margin: 30px 20px;
}

.Oeuvre p{

}