.black-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Arapey', sans-serif;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* pour prendre la hauteur de la page */
  }

  .Contact label{
    border: 10px;
    color: black;
    font-family: 'Arapey';
  }

  .Contact button{
    border: 10px;
    color: black;
  }

  .Contact h1{
    text-align: center;
  }

  .Contact hr{
    text-align: center;
  }